
<!DOCTYPE html>
<html>
<head>
    {%load main_tags%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
    {% load static %}
    <link type="text/css" href="{% static 'main/css/styles.css' %}"  rel = "stylesheet"  />
    </head>
    {% include 'main/banner.html'%}

      {% load static %}
    <link type="text/css" href="{% static 'main/css/womendesign.css' %}"  rel = "stylesheet"  />
        {% load static %}
        <link type="text/css" href="{% static 'main/css/formstyle.css' %}"  rel = "stylesheet"  />

</head>
<body>
    {%get_categories as posts%}
{%for i in posts%}
<div id = "Read">
<p>{{ i.full_text }}</p>
<a href="{% url  'news-detail'  i.slug %}" >  <button class="btn btn-success">More details</button></a>
</div>
{%endfor%}
<div id = "add">
    <br>
    <br>
    <br>
    <a href="{% url  'add-post' %}" >  <button class="btn btn-success">Add data</button>  </a>
</div>
</body>
</html>